@import "/src/theme/Colors.scss";

.main-facturacion {
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
}

.main-facturacion-botones {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  h2 {
    margin-bottom: 1rem;
  }
}

.main-facturacion-botones-superiores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.main-facturacion-botones-inferiores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

.main-facturacion-tablas {
  width: 75%;
  padding: 1rem 2rem;
  margin-top: 1rem;
  overflow-y: auto;
}

@media only screen and (max-width: 950px) {
  .main-facturacion {
   flex-direction: column;
   height: auto;
  }
  .main-facturacion-botones {
    width: 100%;
    height: 15rem;
  }
  .main-facturacion-tablas {
    width: 100%;
  }
}