@import 'theme/Colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  min-height: auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:active {
  outline: none;
}

body {
  background-color: $white-yaco;
  font-family: sans-serif;
}