.main-consulta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: calc(100vh - 5rem);
}

.main-consulta-date {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: space-around;
    max-width: 40rem;
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.main-consulta-tabla {
    width: 100%;
    margin-top: 1rem;
    overflow-y: auto;
}